<header>
    <div class="container mx-auto">
        <a class="home" href="{{ siteUrl }}">{{ siteName }}</a>

        {# Get the first segment of the current URI: #}
        {% set navSegment = craft.app.request.getSegment(1) %}

        <nav>
            <ul>
                <li>
                    <a href="{{ url('blog') }}" class="{{ navSegment == 'blog' ? 'active' : 'inactive' }}">Blog</a>
                </li>
                <li>
                    <a href="{{ url('about') }}" class="{{ navSegment == 'about' ? 'active' : 'inactive' }}">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>